<div class="index">

      <div class="col-md-4">
        <h4>Accounts</h4>
        <% @accounts.each do |account| %>
            <p><%= link_to account.name + ' ' + account.phone , edit_account_path(account) , class: "link-bold" %> </p>
        <% end %>
      </div>

      <div class="col-md-4">

        <h4>Appointments</h4>
        <ul>
          <% @appointments.each do |appointment| %>

            <li class="li-reduce-indent"><%= link_to appointment.appointment_type_name + ' ' + appointment.appointment_date.strftime("%e-%B-%Y").to_s + ' ' + Appointment.times[appointment.start_time]  , edit_appointment_path(appointment) , class: "link-bold" %>
            <h5>With...</h5>
              <% appointment.attendants.each do |attendant| %>
                <% if((attendant.contact!=nil))%>
                  <p>
                     <%= attendant.contact_first_name %>
                     <%= attendant.contact_last_name %>
                     <%= attendant.contact_phone %>
                     <%= attendant.contact.account.name %>
                  </p>
                <% end %>
              <% end %>
            </li>
            <!-- </br> -->
          <% end %>

        </ul>

      </div>

    <div class="col-md-4">
      <%= form_tag "/appointments/new", method: "get" do %>
        <h4>Contacts</h4>
        <% @contacts.each do |contact| %>
          <%= check_box_tag 'selected_contacts[]', contact.id -%>
          <%= link_to contact.first_name + ' ' + contact.last_name + ', ' + contact.account.name   , edit_contact_path(contact)  %></br>
        <% end %>
        <%= submit_tag 'Schedule Appointment', name: 'schedule_appointment' %>
      <% end %>
    <div>

  </div>
